@import '../../style/theme/variable.scss';
@import '../../spin/style/index.scss';
@import './editor.scss';
@import './color-picker.scss';
// @import "./code-highlighter.scss";
@import './table.scss';

$RichEditor-prefix-cls: '#{$xbzoom-prefix}-rich-editor';

.#{$RichEditor-prefix-cls} {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &-count {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    color: #999;
    padding: 0 10px 6px 0;
  }
}
