@import '../../style/theme/variable.scss';

$calendarBody-prefix-cls: '#{$xbzoom-prefix}-calendar-body';

.#{$calendarBody-prefix-cls} {
  position: relative;
  margin: 0 auto;
  &--week {
    display: flex;
    th {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 20px;
      flex: 1;
      text-align: center;
      margin-top: 9px;
    }
  }
  &--dayBlock {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    margin: 6px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background-color: #d2f1ec;
    }
  }
  &--thisMonth {
    color: $text-color;
  }
  &--prevMonth {
    color: rgba(0, 0, 0, 0.25);
  }
  &--nextMonth {
    color: rgba(0, 0, 0, 0.25);
  }
  &--today {
    color: $theme-color;
    border: 1px solid $theme-color;
    background-color: #d2f1ec;
    line-height: 20px;
    &:hover {
      background-color: #d2f1ec;
    }
  }
  &--active {
    background-color: $theme-color;
    color: #fff;
    &:hover {
      background-color: $theme-color;
    }
  }
  &--disable {
    cursor: not-allowed;
    background-color: #eee;
    color: #bbb;
    &:hover {
      background-color: #eee;
    }
  }
}
