@import '../../style/theme/variable.less';
@import '../../spin/style/index.less';

@head-prefix-cls: ~'@{xbzoom-prefix}-head';

.@{head-prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 16px;
  overflow: hidden;
  border-bottom: 2px solid #22baa0;

  &--title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  &--extraDom {
    flex: 1;
    margin-left: 30px;
  }

  &--btnDom {
  }
}
